/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(../images/desert.jpg);
  background-repeat: round;    
  }


#section2 {
  text-align: center;
} 

ul {
  margin: auto;
  max-width: 70%;
  line-height: 2.5em;
  padding: 20px 20px;
  border: 2px solid #333;
  background-color: bisque;
  list-style: square;
  border-radius: 20px;
  box-shadow: 0 0 4px 0 black;
}

li {
  border-radius: 10px;
  transition: .2s;
}

#ng {
  border: 1px solid #333;
  background-color: #deb887;
  margin-bottom: 10px;
}

#nb {
  border: 1px solid #333;
  background-color: #EAC391 ;
  margin-bottom: 10px;
}

#nm {
  border: 1px solid #333;
  background-color: #FFD6A5 ;
  margin-bottom: 10px;
}

#nv {
  border: 1px solid #333;
  background-color: #fcdea9;
  margin-bottom: 10px;
}

#nc {
  border: 1px solid #333;
  background-color: #FFE4B5;

}

#section3 { 
  
  float: left;
  width: 50%;
  text-align: center;
}

.headingcards {
  height: 2em;
}

.cardleft {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  border: 4px solid black;
  margin: 2%;
}


.books {
  border: 1px solid #333;
}


.bookname {
  min-height: 70px;
  height: 75%;
  width: 100%;
}

img {
  width: 100%;
  object-fit: scale-down;
  max-height: 350px;
}

#section4 {
  float: right;
  width: 50%;
  text-align: center;
}

.cardright {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  border: 4px solid black;
  margin: 2%;
}

.books2 {
  border: 1px solid #333;

}

#section5 {
  float: left;
  width: 100%;
  text-align: center;
}

.circles {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}


.circletext {
  text-align: center;
}

#circle1  {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url(../images/statue.jpg);
  background-position: bottom;
  background-size: cover;
}

#circle1:hover {
  transform: scale(1.15);
}

#circle2  {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url(../images/space.jpg);
  background-size: cover;
  background-position: bottom;
  
}

#circle2:hover {
  transform: scale(1.15);
}


#circle3  {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url(../images/chess.jpg);
  background-position: center;
  background-size: cover;
}

#circle3:hover {
  transform: scale(1.15);
}


#circle4  {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url(../images/petra.jpg);
  background-position: left;
  background-size: cover;
}

#circle4:hover {
  transform: scale(1.15);
}


#circle5  {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url(../images/writing.jpg);
  background-position: center;
  background-size: cover;
  

}

#circle5:hover {
  transform: scale(1.15);
}


#section6 {
  float: left;
  width: 100%;
  text-align: center;
}

.contactusform {
  max-width: 550px;
  margin: auto;
}

.contactustext {
  width: 90%;
  margin: 2%;
  padding: 2%;
}

#enterdetails {
  width: 90%;
  margin: 2%;
  padding: 2%;
}

.contactusbutton {
  width: 100px;
  margin-bottom: 20px;
  padding: 5px;
}


/* HORIZONTAL MENU */

body,
header h1 {
  margin: 0;
}

header {
  display: flex;
  padding: 2em;
  text-align:left;
  background-image: url(../images/bookheader.jpg);
  background-size: 100% ;
  background-position: center;
  background-repeat: no-repeat;
  color: blanchedalmond;
  text-shadow: black 3px 1px;
  
}

nav {
  display: none;
  clear: both;
  justify-content: center;
  background: #333;
  flex-direction: column;
}

.menu {
  background: #555;
  text-align: center;
  color: #fff;
  line-height: 2em;
}
.menu-toggle {
  display: flex;
}

.menu:hover + nav,
nav:hover {
  display: flex;
} 

nav a {
  padding: 1.25em 1.5em;
  color: #ccc;
  text-decoration: none;
  transition: all 1.5s;
}
nav a:hover {
  color: #dfd;
  background: burlywood;
}

li:hover {
  color: black;
  background: bisque;
  transform: scale(1.04);
  overflow: hidden;
}  

#btnscroll {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  background-image: linear-gradient(135deg, #FFE985 10%, #DEB887 100%);

}


  /* TABLET STYLES */
  
  @media screen and (min-width: 500px) {
  
    /* applies to screens wider than 499px */
    

    nav {
      display: flex;
      justify-content: center;
      background: #333;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .menu {
      display: none;
    }

    ul {
      margin: auto;
      max-width: 80%;
      line-height: 4em;
    }
    
    
  
    .cardleft {
      
      grid-template-columns: repeat(2, 1fr);
      
      
    }
    
    
    .cardright {
     
      grid-template-columns: repeat(2, 1fr);
  
      
    }
  
  
  
  }
  
  
  
  /* DESKTOP STYLES */
  
  @media screen and (min-width: 1000px) {
  
    /* applies to screens wider than 999px */
  
    ul {
      max-width: 50%;
    }
      

    .cardleft {
      grid-template-columns: repeat(3, 1fr);   
    }

    .cardright {
      grid-template-columns: repeat(3, 1fr);
    }
      
    }


