/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  background-image: url(../images/desert.jpg);
  background-repeat: round;   
  background-color: bisque; 
  animation-name: pageopen;
  animation-duration: 5s;
  margin: 0;
}

@keyframes pageopen {
  from {opacity: 0;}
  to {opacity: 1;}  
}

h1 {
  margin: 0;
}

header {
  display: flex;
  padding: 2em;
  text-align:left;
  background-image: url(../images/bookheader.jpg);
  background-size: 100% ;
  background-position: center;
  background-repeat: no-repeat;
  color: blanchedalmond;
  text-shadow: black 3px 1px;
  margin: 0;
}

nav {
  display: none;
  clear: both;
  justify-content: center;
  background: #333;
  flex-direction: column;
}

.menu {
  background: #333;
  text-align: center;
  color: floralwhite;
  line-height: 2.5em;
  border-bottom: 1.5px solid blanchedalmond;
}
.menu-toggle {
  display: flex;
}

.menu:hover + nav,
nav:hover {
  display: flex;
} 

nav a {
  padding: 1.25em 1.5em;
  color: floralwhite;
  text-decoration: none;
  transition: all 1.5s;
  text-align: center;
}

nav a:hover {
  color: #dfd;
  background: burlywood;
}

.subheadings {
  margin-top: 40px;
  margin-bottom: 40px;
  height: 1em;
}

#section1 {
  text-align: center;
} 

ul {
  margin: auto;
  max-width: 70%;
  line-height: 2.5em;
  padding: 20px 20px;
  border: 2px solid #333;
  background-color: bisque;
  border-radius: 20px;
  box-shadow: 0 0 4px 0 black;
  list-style: none;
}

li {
  border-radius: 10px;
  transition: .2s;
}

li:hover {
  color: black;
  background: bisque;
  transform: scale(1.04);
  overflow: hidden;
}  

#quote1 {
  border: 1px solid #333;
  background-color: #deb887;
  margin-bottom: 10px;
}

#quote2 {
  border: 1px solid #333;
  background-color: #EAC391 ;
  margin-bottom: 10px;
}

#quote3 {
  border: 1px solid #333;
  background-color: #FFD19C;
  margin-bottom: 10px;
}

#quote4 {
  border: 1px solid #333;
  background-color: #fcdea9;
  margin-bottom: 10px;
}

#quote5 {
  border: 1px solid #333;
  background-color: #FFE4B5;
}

#section2 { 
  float: left;
  width: 50%;
  text-align: center;
}

.cardleft {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  border: 4px solid black;
  margin: 2%;
  box-shadow: 0 1px 9px 1px black;
}

.books {
  border: 1px solid #333;
}

.bookname {
  min-height: 70px;
  height: 75%;
  width: 100%;
}

img {
  width: 100%;
  object-fit: scale-down;
  max-height: 350px;
}

.bookimageleft:hover {
  background: #fbd33f;
  background: linear-gradient(90deg, #fbd33f 24%, #f54f56 48%, #fc46c4 100%);
}

.bookimageright:hover {
  background: rgb(251,211,63);
  background: linear-gradient(270deg, rgba(251,211,63,1) 24%, rgba(245,79,86,1) 48%, rgba(252,70,196,1) 100%);
}

#section3 {
  float: right;
  width: 50%;
  text-align: center;
}

.cardright {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  border: 4px solid black;
  margin: 2%;
  box-shadow: 0 1px 9px 1px black;
}

.books2 {
  border: 1px solid #333;
}

#section4 {
  float: left;
  width: 100%;
  text-align: center;
}

.circles {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.circletext {
  text-align: center;
}

#circle1  {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url(../images/statue.jpg);
  background-position: bottom;
  background-size: cover;
  box-shadow: 0 0 10px 0 black;
}

#circle1:hover {
  transform: scale(1.15);
  background-color: grey;
  background-blend-mode: luminosity;
  transition: ease-in-out .25s;
}

#circle2  {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url(../images/space.jpg);
  background-size: cover;
  background-position: bottom;
  box-shadow: 0 0 10px 0 black;
}

#circle2:hover {
  transform: scale(1.15);
  background-color: plum;
  background-blend-mode: luminosity;
  transition: ease-in-out .25s;
}

#circle3  {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url(../images/chess.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 10px 0 black;
}

#circle3:hover {
  transform: scale(1.15);
  background-color: lightsteelblue;
  background-blend-mode: luminosity;
  transition: ease-in-out .25s;
}

#circle4  {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url(../images/petra.jpg);
  background-position: left;
  background-size: cover;
  box-shadow: 0 0 10px 0 black;
}

#circle4:hover {
  transform: scale(1.15);
  background-color: peru;
  background-blend-mode: luminosity;
  transition: ease-in-out .25s;
}

#circle5  {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url(../images/writing.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 10px 0 black;
}

#circle5:hover {
  transform: scale(1.15);
  background-color: rosybrown;
  background-blend-mode: luminosity;
  transition: ease-in-out .25s;
}

#section5 {
  float: left;
  width: 100%;
  text-align: center;
}

.contactusform {
  max-width: 550px;
  margin: auto;
}

.contactustext {
  width: 90%;
  margin: 2%;
  padding: 2%;
  box-shadow: 0 0 4px 1px black;
  background-color: blanchedalmond;
  border: none;
}

#enterdetails {
  width: 90%;
  margin: 2%;
  padding: 2%;
  box-shadow: 0 0 4px 1px black;
  background-color: blanchedalmond;
  border: none;
}

#contactusbutton {
  width: 100px;
  margin-bottom: 20px;
  padding: 5px;
  box-shadow: 0 0 4px 1px black;
  background-color: blanchedalmond;
  border: none;
}

#btnscroll {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  background-image: linear-gradient(135deg, #FFE985 10%, #DEB887 100%);
  opacity: 90%;
  border: 2px solid beige;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}
  
.modaltext {
  margin: 50% auto;
  padding: 20px;
  border: 4px solid blanchedalmond;
  width: 80%;
  height: 34%;
  background-image: url(../images/modalpage.jpg);
  background-size: 35em;
  background-repeat: no-repeat;
  border-radius: 2em;
  transition: ease-out 0.2s;
  animation-name: modalopen;
  animation-duration: 0.75s;
  background-position-x: 40%;  
}

@keyframes modalopen {
  from {opacity: 0;}
  to {opacity: 1;}
}

.modaltext:hover {
  background-image: url(../images/secondmodal.jpg);
  transition: ease-in 0.3s;
}

.exitmodal {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.exitmodal:hover,
.exitmodal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* TABLET STYLES */
  
@media screen and (min-width: 500px) {

nav {
  display: flex;
  justify-content: center;
  background: #333;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu {
  display: none;
}

ul {
  margin: auto;
  max-width: 80%;
  line-height: 4em;
}

.cardleft {
  grid-template-columns: repeat(2, 1fr);
}

.cardright {
  grid-template-columns: repeat(2, 1fr);
}

.modaltext {
  margin: 10% auto;
  height: 60%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2em;
  transition: ease-out 0.2s;
  animation-name: smoothopen;
  animation-duration: 0.75s;
}
    
}
  
/* DESKTOP STYLES */
  
@media screen and (min-width: 1000px) {

ul {
  max-width: 50%;
}
    
.cardleft {
  grid-template-columns: repeat(3, 1fr);   
}

.cardright {
  grid-template-columns: repeat(3, 1fr);
}
     
.modaltext {
  width: 50%;
  margin: 5% auto;
}

}

/* Smaller screens */

@media screen and (max-width:300px) {

header {
  background-size: cover;
}

#section2 {
  width: 100%;
}
    
#section3 {
  width: 100%;
}

}

